@charset "utf-8";
/* CSS Document */

h3 {
    font-size: 35px;
}

#aside {
    position: fixed;
    left: 0px;
    direction: ltr;
    z-index: 10;
    font-size: 20px;
}

    #aside ul li {
        list-style: none;
        width: 150px;
    }

    #aside a {
        padding: 10px;
        display: inline-block;
        margin-top: 5px;
        text-align: center;
        background: #40A2D3;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        transition: all 0.3s;
    }

#firstAside {
    width: 170px;
}

#secondAside {
    width: 155px;
}

#thirdAside {
    width: 140px;
}

#about {
    width: 100%;
    height: auto;
}

.side {
    width: 155px;
}

    .side:hover {
        width: 180px;
    }

#aboutText {
    background-color: rgba(255,255,255,0.80);
    padding: 10px;
    margin-top: 0px;
    font-size: 30px;
    text-align: justify;
}

#first {
    height: 90vh;
}

#firstText h3 {
    display: inline-block;
}

#second {
    margin-top: 50px;
}

#secondText {
    font-size: 30px;
    text-align: justify;
}

#img2 {
    margin: 10px auto;
    display: block;
}

.img-hover:hover {
    border-radius: 40px !important;
}

.inside-titr {
    text-align: center;
    font-size: 72px;
    color: white;
    padding-top: 200px;
}

.first-gathering-banner {
    width: 100%;
    height: 500px;
    background-image: url('../image/Gatherings/FirstGathering.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
}

.second-gathering-banner {
    width: 100%;
    height: 500px;
    background-image: url('../image/Gatherings/SecondGathering.jpg');
    /*background-position: center;*/
    background-size: cover;
    /*background-attachment: fixed;*/
    margin-top: 100px;
    margin:40px 0;
}
