body {
}

@font-face {
    font-family: 'BYekan';
    src: url('../fonts/W_yekan Bold.ttf') format('truetype');
}

@font-face {
    font-family: gorbeh;
    src: url('../fonts/Gorbeh-Regular.ttf') format('truetype'), url('../fonts/Gorbeh-Regular.woff') format('woff'), url('../fonts/Gorbeh-Regular.eot') format('embedded-opentype');
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.my-container {
    width: 80%;
    margin: 0px auto;
    /*background: #aaa;*/
}

.small-text {
    direction: rtl;
    font-family: 'BYekan';
    text-align: center;
}

.my-container img[src*='cactbLogo.png'] {
    /*padding-top: 150px;*/
    margin-top: 100px;
    animation: rotate 30s linear infinite;
}

.social {
    height: 60px;
    width: 400px;
    margin-top: 20px;
}

h2.cactb-title {
    font-family: 'BYekan';
    font-size: 50px;
    text-align: center;
}

h2.uni-title {
    /*font-family: 'IranNastaliq';*/
    font-family: 'BYekan';
    font-size: 25px;
    text-align: center;
}

.a-social {
    float: left;
}


.gb {
    font-family: gorbeh !important;
}

a.gb {
    font-size: 60px;
    margin: 0 8px;
    color: #72797f;
}

    a.gb:hover {
        text-decoration: none;
    }
    a.gb:active {
        text-decoration: none;
    }

    a.gb[href*='github']:hover {
        color: #333333;
    }

    a.gb[href*='linkedin']:hover {
        color: #0077b5;
    }

    a.gb[href*='instagram']:hover {
        background: linear-gradient(-45deg,#833ab4,#833ab4,#e1306c,#fcaf45,#f77737 ,#fd1d1d,#fd1d1d);
        background: -o-linear-gradient(-45deg,#833ab4,#833ab4,#e1306c,#fcaf45,#f77737 ,#fd1d1d,#fd1d1d);
        background: -moz-linear-gradient(-45deg,#833ab4,#833ab4,#e1306c,#fcaf45,#f77737 ,#fd1d1d,#fd1d1d);
        background: -webkit-linear-gradient(-45deg,#833ab4,#833ab4,#e1306c,#fcaf45,#f77737 ,#fd1d1d,#fd1d1d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a.gb[href*='telegram']:hover {
        color: #0088cc;
    }

    a.gb[href*='aparat']:hover {
        color: #ed145b;
    }
