body {
}

@font-face {
    font-family: 'BYekan';
    src: url('../font/BYekan.ttf') format('truetype');
}

@font-face {
    font-family: 'IranNastaliq';
    src: url('../font/IranNastaliq_p30download.com.ttf') format('truetype');
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.my-container {
    width: 80%;
    margin: 0px auto;
    /*background: #aaa;*/
}

.small-text{
    direction:rtl;
    font-family: 'BYekan';
    text-align:center;
}

    .my-container img[src*='cactbLogo.png'] {
        /*padding-top: 150px;*/
        margin-top:100px;
        animation:rotate 30s linear infinite;
    }

.social {
    height: 60px;
    width: 400px;
    margin-top: 20px;
}

h2.cactb-title {
    font-family: 'BYekan';
    font-size: 50px;
    text-align: center;
}

h2.uni-title {
    /*font-family: 'IranNastaliq';*/
    font-family: 'BYekan';
    font-size: 25px;
    text-align: center;
}

.a-social {
    float: left;
}

.social-img {
    width: 100px;
    height: 100px;
    background-size: cover;
    padding: 0;
    margin: 0px;
}

.social a .dark-github {
    background: url('../image/dark-git.png');
    background-size: cover;
    -webkit-transition: background-image linear 1s;
    -o-transition: background-image linear 1s;
    -moz-transition: background-image linear 1s;
    transition: background-image linear 1s;
}

.social a .dark-linkedin {
    background: url('../image/dark-linkedin.png');
    background-size: cover;
}

.social a .dark-telegram {
    background: url('../image/dark-telegram.png');
    background-size: cover;
}

.social a .dark-instagram {
    background: url('../image/dark-instagram.png');
    background-size: cover;
}



.social a .dark-github:hover {
    background-image: url('../image/color-git.png');
    background-size: cover;
}

.social a .dark-linkedin:hover {
    background-image: url('../image/color-linkedin.png');
    background-size: cover;
}

.social a .dark-telegram:hover {
    background-image: url('../image/color-telegram.png');
    background-size: cover;
}

.social a .dark-instagram:hover {
    background-image: url('../image/color-instagram.png');
    background-size: cover;
}
