@font-face
{
    font-family: Vazir;
    src: url('../res/fonts/Vazir.ttf');
}
body 
{
    font-family: Vazir, sans-serif;
    direction: rtl;
    text-align: center;
    margin-top: 5%;
}
footer
{
    font-family: Vazir, sans-serif;
    direction: rtl;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

