@font-face
{
    font-family: Vazir;
    src: url('../res/fonts/Vazir.ttf');
}
body 
{
    background-color: rgba(34, 73, 103, 0.2);
    font-family: Vazir, sans-serif;
    direction: rtl;
    text-align: center;
    margin-top: 5%;
}
footer
{
    font-family: Vazir, sans-serif;
    direction: rtl;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#ld, #ig
{
    margin-top: 1em;
}