@font-face {
    font-family: byekan;
    src: url('../fonts/W_yekan.ttf') format('truetype');
}
@font-face {
    font-family: gorbeh;
    src: url('../fonts/Gorbeh-Regular.ttf') format('truetype'), url('../fonts/Gorbeh-Regular.woff') format('woff'), url('../fonts/Gorbeh-Regular.eot') format('embedded-opentype');
}
@font-face {
    font-family: byekanbold;
    src: url('../fonts/W_yekan Bold.ttf') format('truetype');
}
* {
    margin: 0px;
    padding: 0px;
}
p{
    text-align:justify;
}
.caret {
    margin-right: 5px;
}

body {
    font-family: byekan;
    direction: rtl;
}

.gb {
    font-family: gorbeh;
}

header {
    margin-top: 10px;
}


#navCactb {
    background-color: #40A2D3;
    margin-top: 20px;
}

    #navCactb ul a {
        color: black;
        font-size: 20px;
        transition: all 0.3s;
    }

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4.5px 0;
    transition: 0.4s;
}

.dropcolor a {
    background-color: white;
}


footer {
    background-color: #214869;
    text-align: right;
    color: aliceblue;
    font-size: 20px;
}

#navFooter {
    line-height: 40px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:50px;
    margin:0px !important;
}

    #navFooter li {
        list-style: none;
    }

    #navFooter a {
        color: aliceblue;
        opacity: 0.5;
        transition: all 0.3s;
        font-size: 18px;
    }

#socilaIconFooter {
    font-size: 30px !important;
    padding-top: 10px;
}

    #socilaIconFooter ul li {
        display: inline;
        list-style: none;
        margin-left: 20px;
    }

    #socilaIconFooter a {
        color: aliceblue;
        transition: all 0.3s;
        cursor: pointer;
    }

        #socilaIconFooter a:hover {
            opacity: 0.5;
        }

        #navFooter a:hover {
            opacity: 1;
            text-decoration: none;
        }

copyright {
    text-align: center;
    font-size: 15px;
    padding: 15px;
    background: #18344C;
    display: block;
}

.header-line {
    width: 50px;
    height: 2px;
    background-color: #1a53ff;
    margin-top: 10px;
    transition: all 0.3s ease-in;
    /*margin-right: ;*/
}
.fixed{
    position:fixed;
    top:0px;
}
.navbar-fixed-top{
    margin:0px !important;  
    padding-right:30px;
}
/*saber CSS */
.carousel-inner .item img{
  width:100%;
  height:80%;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
  float: right;

}
.navbar-nav>li>.dropdown-menu{
  right: 0px;
    width: 250px;
}
#navCactb ul a{
  color: #fff;

}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: #2a81ad;
}
.dropdown-menu>li>a{
  color:#555!important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: #2a81ad;

}
.carousel-inner{
  position: relative;
}
.carousel-caption{
  position: absolute;
}
.carousel-caption h2{
  font-size: 78px;
}
.videobox{
  background: #eee;
padding: 35px;
margin-bottom: 15px;
}
.videobox .code{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.detail .title{
  box-shadow: 0 2px 0 #a29797;
  float: right;
  width: 100%;
  margin: 15px 0;
}
.detail .title h2{
  padding: 8px 5px;
    box-shadow: 0 2px 0 #0097a7;
    float: right;
    margin: 0px;
    font-weight: normal;
    color: #555;
}
.detail p{
  text-align: justify;
    line-height: 26px;
    margin-bottom: 15px;
}
.detail .morelink a{
  border: 2px solid #555;
padding: 10px;
font-size: 19px;
border-radius: 10px;
color: #555;
text-decoration: none;
    -webkit-transition: all .35s ease 0s;
-moz-transition: all .35s ease 0s;
-ms-transition: all .35s ease 0s;
-o-transition: all .35s ease 0s;
transition: all .35s ease 0s;
}
.detail .morelink a:hover{
  background: #000;
  color: #fff;
  text-decoration: none;
}
.sidebar , .postbox{
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  margin-bottom: 15px;
      padding-bottom: 10px;
}
.sidebar .title , .postbox .title{
  box-shadow: 0 2px 0 #a29797;
  float: right;
  width: 100%;
  margin: 5px 0;
}
.sidebar .title h4 , .postbox .title h2{
  padding: 8px 5px;
    box-shadow: 0 2px 0 #0097a7;
    float: right;
    margin: 0px;
    font-weight: normal;
    color: #555;
    font-size: 22px;

}
.sidebar .content ul{
  list-style: none;

}
.sidebar .content ul li{
  margin:10px;
}

.sidebar .content ul li a{
  background: #f7f7f7;
  border-radius: 3px;
  display: block;
  padding: 5px;
  color: #555;
  text-decoration: none;
}
.sidebar .content ul li a:hover{
  background: #337ab7;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
  color: #fff;

}
.sidebar .content input[type=text]{
  padding: 8px;
  border-radius: 3px;
  width: 94%;
  margin: 10px;
  border: none;
  outline: none;
  background: #eee;


}
.sidebar .content button{
  display: block;
  background: #40a2d3;
  border: none;
  padding: 7px;
  color: #fff;
  font-size: 24px;
  width: 94%;
  margin: 10px;
}
.clear{
  clear: both;
}
.postbox .content{
  padding: 10px 10px 0px 10px;
  position: relative;
}
.postbox .content img{
  width: 100%;
    height: auto;
}
.postbox .content p{
  text-align: justify;
  line-height: 20px;
  padding: 5px;
  font-size: 14px;
}
.postbox .content .morelink a{
  text-align: center;
    display: block;
    font-size: 22px;
    left: 0px;
    background: #888585;
    text-decoration: none;
    width: 100%;
    padding: 5px;
    color: #fff;
    bottom: 0px;
}
.postbox .content .morelink a:hover{
  background: #555;
}
.postbox .title {
  margin-bottom: 10px;
}
@media(max-width: 700px) {
    header h1{
        text-align:center;
    }
}

.footer-title:hover div.header-line  {
     width: 70px;
}

.active-navbar-item {
    background: #214869;
    color: white !important;
}
