<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>انجمن علمی کامپیوتر</title>

<link href="style.css" rel="stylesheet" type="text/css">
<link href="fonts/font-awesome.css" rel="stylesheet" type="text/css">
<link href="RTL_Bootstrap-3.2.0/RTL_Bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="RTL_Bootstrap-3.2.0/RTL_Bootstrap-3.2.0/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
<link href="RTL_Bootstrap-3.2.0/RTL_Bootstrap-3.2.0/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="RTL_Bootstrap-3.2.0/RTL_Bootstrap-3.2.0/js/bootstrap.js"></script>
<script src="RTL_Bootstrap-3.2.0/RTL_Bootstrap-3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>

<body>
	<main class="container">
        <div class="row">
          <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
            <img id="cactb" src="cactbLogo.png" alt="cactb" class="col-lg-1 col-md-1 col-sm-2 col-xs-2"/>
            <h1>انجمن علمی کامپیوتر<small class="hidden-xs hidden-sm">دانشگاه آزاد واحد تهران مرکز</small></h1>
           	<ul class="nav navbar-nav navbar-left hidden-xs hidden-sm" id="enter1" >
           		<li><a href="#"><i class="fa fa-sign-in"></i> ورود</a></li>
           		<li><a href="#"><i class="fa fa-user-plus"></i> ثبت نام</a></li>
           	</ul>
           	<ul class="nav navbar-nav navbar-left hidden-xs hidden-sm" id="socialIcon">
           		<li><a href="#"><i class="fa fa-telegram"></i></a></li>
           		<li><a href="#"><i class="fa fa-instagram"></i></a></li>
           		<li><a herf="#"><i class="fa fa-linkedin"></i></a></li>
           	</ul>
            </header>
        </div>
		<nav class="navbar" id="navCactb">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<div class="cont" onclick="myFunction(this)">
						  <div class="bar1"></div>
						  <div class="bar2"></div>
						  <div class="bar3"></div>
						</div>
        			</button>

				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul  class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span> خانه</a>
							<ul class="dropdown-menu dropcolor">
								<li><a href="#">اخبار</a></li>
								<li><a href="#">شبکه های اجتماعی</a></li>
								<li><a href="#">عضویت</a></li>
								<li><a href="#">معرفی رشته</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span>درباره انجمن</a>
							<ul class="dropdown-menu dropcolor">
								<li><a href="#">تاریخچه</a></li>
								<li><a href="#">انجمن چیست و چرا باید باشد</a></li>
								<li><a href="#">ساختار انجمن</a></li>
								<li><a href="#">اهداف</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span>فعالیت ها</a>
							<ul class="dropdown-menu dropcolor">
								<li><a href="#">گردهمایی ها</a></li>
								<li><a href="#">کارگروه ها</a></li>
								<li><a href="#">پروژه ها</a></li>

							</ul>
						</li>

						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="caret"></span> ارتباط با ما</a>
							<ul class="dropdown-menu dropcolor">
								<li><a href="#">شبکه های اجتماعی</a></li>
								<li><a href="#">ایمیل انجمن</a></li>

							</ul>
						</li>

					</ul>
					<ul class="nav navbar-nav navbar-left hidden-lg hidden-md class">
           				<li><a href="#"><i class="fa fa-sign-in"></i> ورود</a></li>
           				<li><a href="#"><i class="fa fa-user-plus"></i> ثبت نام</a></li>
           			</ul>
				</div>
			</div>
		</nav>
		<article>

		</article>
		<footer >
           <div id="socilaIconFooter">
              <ul class="" >
                <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a herf="#"><i class="fa fa-linkedin"></i></a></li>
             </ul>
          </div>
       	  <div class="row hidden-xs hidden-md hidden-sm" id="navFooter">
           		<div class="col-lg-1">

           		</div>
           		<div class="col-lg-2">
           			<h4>خانه</h4>
           			<ul>
						<li><a href="#">اخبار</a></li>
						<li><a href="#">شبکه های اجتماعی</a></li>
						<li><a href="#">عضویت</a></li>
						<li><a href="#">معرفی رشته</a></li>
           			</ul>
           		</div>
           		<div class="col-lg-2">
           			<h4>تاریخچه</h4>
           			<ul>
           				<li><a href="#">انجمن از ابتدا تا کنون</a></li>
						<li><a href="#">فعالیت ها</a></li>
           			</ul>
           		</div>
           		<div class="col-lg-2">
           			<h4>پروژه ها و فعالیت ها</h4>
           			<ul>
           				<li><a href="#">گردهمایی ها</a></li>
						<li><a href="#">کارگروه ها</a></li>
						<li><a href="#">پروژه ها</a></li>
           			</ul>
           		</div>
           		<div class="col-lg-2">
           			<h4>درباره ما</h4>
           			<ul>
           				<li><a href="#">انجمن چیست و چرا باید باشد؟</a></li>
						<li><a href="#">اعضا</a></li>
						<li><a href="#">ساختار</a></li>
           			</ul>
           		</div>
           		<div class="col-lg-2">
           			<h4>ارتباط با ما</h4>
           			<ul>
           				<li><a href="#">شبکه های اجتماعی</a></li>
						<li><a href="#">ایمیل انجمن</a></li>
           			</ul>
           		</div>
           		<div class="col-lg-1">

           		</div>

           	</div>

		    <email>
				cv.cactb@gmail.com <i class="fa fa-envelope-o"></i>
			</email>

        	<div class="clearfix"></div>
        	<copyright>

        		<i class="fa fa-copyright"></i>
        		کلیه ی حقوق این سایت مطعلق به انجمن علمی کامپیوتر دانشگاه آزاد واحد تهران مرکز می باشد.

       	    </copyright>
		</footer>
	</main>
</body>
<script>
	function myFunction(x) {
    x.classList.toggle("change");
}
</script>
</html>
